<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Language" content="ja">
    <meta http-quiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title><%= title + ' ' + page %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title + ': ' + page %></h1>
    <h2>Welcome to <%= title %></h2>
    <p><%= req.app.startDateTime %></p>
    <a href="/">[home page]</a><br/>
    <a href="/test">[test page]</a><br/>
    <a href="/test/part">[part page]</a><br/>
    <a href="/test/page1">[page 1]</a>
    <a href="/test/page2">[page 2]</a>
    <br/>
    <div id="part"></div>

    <h3>req:</h3>
    <pre>
<%= reqText %>
    </pre>

    <h3>process:</h3>
    <pre>
<%= procText %>
    </pre>

    <a href="/">[home page]</a><br/>
    <a href="/test">[test page]</a><br/>
    <a href="/test/part">[part page]</a><br/>
    <a href="/test/page1">[page 1]</a>
    <a href="/test/page2">[page 2]</a>
    <br/>
  </body>
</html>
