<!DOCTYPE html>
<html>
  <head>
    <meta http-quiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title><%= title + ' ' + page %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title + ': ' + page %></h1>
    <h2>Welcome to <%= title %></h2>
    <a href="/">[home page]</a><br/>
    <a href="/part">[part page]</a><br/>
    <a href="/page1">[page 1]</a>
    <a href="/page2">[page 2]</a>
    <br/>
    <div id="part"></div>

    <h3>req:</h3>
    <pre>
<%= req %>
    </pre>

    <h3>process:</h3>
    <pre>
<%= proc %>
    </pre>

    <a href="/">[home page]</a><br/>
    <a href="/part">[part page]</a><br/>
    <a href="/page1">[page 1]</a>
    <a href="/page2">[page 2]</a>
    <br/>
  </body>
</html>
