<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://www.lightspeedworks.com/stylesheets/style-app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2><%= name %></h2>
    <h2>path: <%= url %></h2>
    <h3>host: <%= host %></h3>
    <pre><%= util.inspect(hdrs) %></pre>
  </body>
</html>
